html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2F2E41;
  font-size: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

#root {
  padding: 8rem;
  padding-bottom: 0;
}

.App {
  grid-template-rows: auto auto auto;
  row-gap: 2rem;
}

.main-launch-grid {
  display: grid;
  grid-template-columns: auto 45rem;
}

p {
  margin: 0;
}

.nrl-header {
  font-size: 5rem;
  color: #E6E6E6;
  margin-bottom: 5rem;
}

.launch-tile {
  min-width: 30rem;
  background: #3F3D56;
  border-radius: 2.6rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  color: #E6E6E6;
  position: relative;
  z-index: 100;
  height: 20rem;
}

.launch-tile.main {
  height: 30rem;
  flex-direction: row;
}

.launch-tile.main .launch-tile-data {
  flex: 3;
}

.launch-tile.main .status-container {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 30% 30% 30%;
  gap: 2rem;
  padding-left: 2rem;
}

.launch-tile.main .status-container .status-item img {
  width: 100%;
  height: 100%;
}

.launch-tile.main .status-container .status-item.disabled img {
  filter: grayscale(100%);
  opacity: 0.3;
}

.launch-tile-header {
  font-size: 2rem;
  display: flex;
  align-self: center;
  padding-bottom: 2rem;
  flex: 1;
}

.launch-tile.main .launch-tile-header {
  font-size: 3.25rem; 
}

.launch-tile-data {
  display: flex;
  flex-direction: column;
  flex: 4;
  font-size: 1.5rem;
}

.launch-tile.main .launch-tile-data {
  font-size: 2rem;
}

.launch-tile-data-item {
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
}

.launch-tile-data p:nth-child(2) {
  flex: 1;
  text-align: end;
}

.launch-tile-time {
  color: #C2C2C2;
  font-size: 7.5rem;
  align-self: center;
  padding-top: 2rem;
  flex: 1;
}

.launch-tile-time.small {
  font-size: 4.5rem;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.future-launches-outer-container {
  position: relative;
  height: 35rem;
  margin-top: 3rem;
  display: grid;
  overflow-x: hidden;
}

.future-launches-inner-container {
  min-width: 45rem;
  max-width: 125rem;
  display: flex;
  flex-direction: row;
  z-index: 100
}

.future-launches-inner-container .launch-tile {
  margin: 3rem;
}

.future-launches-inner-container .launch-tile:first-of-type {
  margin-left: 0;
}

.future-launches-inner-container .launch-tile:last-of-type {
  margin-right: 0;
}

.future-launch-container {
  grid-row: 2;
  width: calc(100vw - 2rem);
  position: relative;
  right: 7rem;
}

.main-launch-grid-col1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1;
}

.main-launch-grid-col2 {
  display: grid;
  grid-row: 1;
  position: absolute;
  right: 0;
  grid-column-start: 3;
}

.future-launches-grid {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 7rem auto 7rem;
  overflow-x: hidden;
}

.rocket-container {
  grid-column: 1;
  grid-row: 1;
  width: 35rem;
  height: 35rem;
  transform: scaleX(-1);
}

.future-launches-header {
  color: #E6E6E6;
  font-size: 2rem;
}

.signature {
  color: #E6E6E6;
}

.footer-container {
  grid-row: 3;
  display: grid;
  grid-template-rows: auto auto;
}

.reminder-container {
  grid-column: 2;
  color: #E6E6E6;
  text-align: right;
}

.reminder-container .header {
  font-size: 5rem;
}

.reminder-container .subheader {
  font-size: 2rem;
}

.reminder-email-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5rem;
}

.reminder-email-container input {
  background: #3F3D56;
  border-radius: .5rem;
  padding: 2rem;
  min-width: 30rem;
  border: 1rem solid #3F3D56;
  margin-right: 2rem;
  color: #E6E6E6;
  font-size: 2rem;
}

.reminder-email-container .reminder-button {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: .5rem;
  background-color: #58548F;
  background-image: url('../images/alarm.svg');
  background-size: 6.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 768px) and (max-width: 1600px) {
  .launch-tile-time {
    font-size: 5rem;
  } 
}

/* Tablet and below! */

@media only screen and (max-width: 768px) {

  #root {
    padding: 2rem;
  }

  .app {
    grid-template-rows: auto auto auto
  }

  .main-launch-grid {
    grid-template-columns: auto; 
  }

  .main-launch-grid-col1 {
    width: 100%;
  }

  .launch-tile {
    min-width: 20rem;
    padding: 1.5rem;
  }

  .launch-tile-time.small {
    font-size: 1.5rem;
  }

  .future-launch-container .launch-tile-header {
    font-size: 1.5rem;
  }

  .launch-tile.main {
    height: 20rem;
  }

  .launch-tile.main .launch-tile-header {
    font-size: 2rem;
  }

  .launch-tile.main .launch-tile-data {
    font-size: 1.5rem;
  }

  .launch-tile.main .launch-tile-time {
    font-size: 3rem;
  }

  .nrl-header {
    text-align: center;
    font-size: 3rem;
  }

  .main-launch-grid-col2 {
    display: none;
  }

  .rocket-container {
    grid-column: 1;
    grid-row: 1;
    width: 15rem;
    height: 15rem;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
    opacity: 0.65;
  }

  .future-launches-outer-container {
    height: 30rem;
    grid-template-columns: auto;
  }

  .future-launches-grid {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 4rem auto 4rem;
    overflow-x: hidden;
  }

  .future-launches-inner-container {
    grid-column: 2;
    min-width: 20rem;
  }

  .future-launches-inner-container .launch-tile {
    margin: 2rem;
  }

  .future-launches-inner-container .launch-tile:first-of-type {
    margin-left: 2rem;
  }
  
  .future-launches-inner-container .launch-tile:last-of-type {
    margin-right: 2rem;
  }

  .future-launches-header {
    color: #E6E6E6;
    font-size: 2rem;
  }
}