html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2F2E41;
  font-size: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

#root {
  padding: 8rem;
  padding-bottom: 0;
}

.App {
  grid-template-rows: auto auto;
  row-gap: 2rem;
}

.main-launch-grid {
  display: grid;
  grid-template-columns: auto 45rem;
}

p {
  margin: 0;
}

.nrl-header {
  font-size: 5rem;
  color: #E6E6E6;
  margin-bottom: 5rem;
}

.launch-tile {
  min-width: 30rem;
  background: #3F3D56;
  border-radius: 2.6rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  color: #E6E6E6;
  position: relative;
  z-index: 100;
  height: 20rem;
}

.launch-tile.main {
  height: 30rem;
}

.launch-tile-header {
  font-size: 2rem;
  display: flex;
  align-self: center;
  padding-bottom: 2rem;
  flex: 1;
}

.launch-tile.main .launch-tile-header {
  font-size: 3.25rem; 
}

.launch-tile-data {
  display: flex;
  flex-direction: column;
  flex: 4;
  font-size: 1.5rem;
}

.launch-tile.main .launch-tile-data {
  font-size: 2rem;
}

.launch-tile-data-item {
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
}

.launch-tile-data p:nth-child(2) {
  flex: 1;
  text-align: end;
}

.launch-tile-time {
  color: #C2C2C2;
  font-size: 7.5rem;
  align-self: center;
  padding-top: 2rem;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.future-launches-outer-container {
  position: relative;
  height: 35rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 35rem auto;
  overflow-x: hidden;
}

.future-launches-inner-container {
  min-width: 45rem;
  max-width: 125rem;
  display: flex;
  flex-direction: row;
  z-index: 100
}

.future-launches-inner-container .launch-tile {
  margin: 3rem;
}

.future-launches-inner-container .launch-tile:first-of-type {
  margin-left: 0;
}

.future-launches-inner-container .launch-tile:last-of-type {
  margin-right: 0;
}

.future-launch-container {
  grid-row: 2;
}

.main-launch-grid-col1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1;
}

.main-launch-grid-col2 {
  display: grid;
  grid-row: 1;
  position: absolute;
  right: 0;
  grid-column-start: 3;
}

.future-launches-grid {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 7rem auto 7rem;
  overflow-x: hidden;
}

.rocket-container {
  grid-column: 1;
  grid-row: 1;
  width: 35rem;
  height: 35rem;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
}

.future-launches-header {
  color: #E6E6E6;
  font-size: 2rem;
}

.signature {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #E6E6E6;
}

/* Tablet and below! */

@media only screen and (max-width: 800px) {
  html, body {
    background: url('../images/Rocket.svg'), #2F2E41;
    background-size: 15rem;
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  #root {
    padding: 2rem;
  }

  .app {
    grid-template-rows: auto auto auto
  }

  .main-launch-grid {
    grid-template-columns: auto; 
  }

  .main-launch-grid-col1 {
    width: 100%;
  }

  .launch-tile {
    min-width: 20rem;
    padding: 1.5rem;
  }

  .launch-tile.main {
    height: 20rem;
  }

  .launch-tile.main .launch-tile-header {
    font-size: 2rem;
  }

  .launch-tile.main .launch-tile-data {
    font-size: 1.5rem;
  }

  .launch-tile.main .launch-tile-time {
    font-size: 3rem;
  }

  .nrl-header {
    text-align: center;
    font-size: 3rem;
  }

  .main-launch-grid-col2 {
    display: none;
  }

  .rocket-container {
    display: none;
  }

  .future-launches-outer-container {
    height: 30rem;
    grid-template-columns: auto;
  }

  .future-launches-grid {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 4rem auto 4rem;
    overflow-x: hidden;
  }

  .future-launches-inner-container {
    grid-column: 2;
    min-width: 20rem;
  }

  .future-launches-inner-container .launch-tile {
    margin: 2rem;
  }

  .future-launches-inner-container .launch-tile:first-of-type {
    margin-left: 2rem;
  }
  
  .future-launches-inner-container .launch-tile:last-of-type {
    margin-right: 2rem;
  }

  .future-launches-header {
    color: #E6E6E6;
    font-size: 2rem;
  }
}