html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/starryBackground.jpg');
  background-size: cover;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  z-index: 1;
  padding: 1rem;
}

#demo-canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stream-link {
  font-size: 4rem;
  z-index: 100;
  text-align: center;
  padding: 2rem;
}

a, a:active, a:visited, a:link  {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

a:hover {
  cursor: pointer;
  text-align: center;
}

.launch-date {
  text-align: center;
  z-index: 100;
}

.launch-data {
  font-size: 4rem;
  text-align: center;
  z-index: 100; 
}

.google-login {
  z-index: 100;
}

.add-launch-form {
  z-index: 100;
}

@media only screen and (max-width: 900px) {
  #root {
    font-size: 3rem;
  }

  .stream-link {
    font-size: 2rem;
  }

  .launch-data {
    text-align: center;
    font-size: 1rem;
  }
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.above-particles {
  z-index: 100;
}